################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StackOverflow/bin
/.vs/pw-dot-net
